.logo {
  display: block;
  width: 500px;
  max-width: 90%;
  margin: 30px auto 50px auto;
}body {
  background: black;
  color: gold;
  font-family: Georgia, serif;
  text-align: center;
}

div {
  display: inline-block;
  width: 300px;
  margin: 20px;
  background: #111;
  border: 1px solid gold;
  border-radius: 15px;
  padding: 20px;
}

a {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background: gold;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}
